<li>
  <%= image_tag(question.user.avatarurl)%>
  <span class="content"><%= question.content %></span>
  <span class="timestamp">
    Posted <%= link_to time_ago_in_words(question.created_at), question %> ago.
  </span>
</li>