<% provide(:title, 'About Ask Away') %>
<div class = "about-content">
	<div class ="relative-container">
		<div class = "sticky-dropdown-area user-dropdown">
			<% if current_user %>
				<%= render 'shared/dropdown' %>
			<% else %>
				<%= button_to "/auth/twitter?origin=#{request.original_url}", class: "big-screen-login-button btn btn-primary" do %>
					sign in with Twitter
				<% end %>
			<% end %>
		</div>
	</div>
	<div class ="center">
		<%= link_to image_tag("askaway-logo.png", class:"about-logo"), root_path %>
	</div>
	<h1 class = "about-title">Asking someone a question should be simple.</h1>
	<br>
	<div class = "about-text">
		<p>There are great q&a sites where you can ask a question of the world and get an answer serendipitously. Ask Away isn’t for that. It’s for asking specific people your specific questions.</p>
		<p>If you’re the type of person people go to for answers, Ask Away is for you. If you have questions for specific people, Ask Away is for you.</p>
		<p>We’ve built the simplest way to ask and answer questions. If you like, <%= link_to "ask us a question", "https://www.askaway.io/askawayhq" %>, or give us a shout at hi@askaway.io.</p>
	</div>
</div>