<% provide(:title, 'About Ask Away') %>
<div class = "about-content">
	<div class ="relative-container">
		<div class = "sticky-dropdown-area user-dropdown">
			<%= render 'shared/dropdown' %>
		</div>
	</div>
	<div class ="center">
		<%= link_to image_tag("askaway-logo.png", class:"about-logo"), root_path %>
	</div>
	<h1>Asking someone a question should be simple.</h1>
	<br>
	<p>There are great q&a sites where you can ask a question of the world and get an answer serendipitously. Ask Away isn’t for that. It’s for asking specific people your specific questions.</p>
	<p>If you’re the type of person people go to for answers, Ask Away is for you. If you have questions for specific people, Ask Away is for you.</p>
	<p>We’ve built the simplest way to ask and answer questions. If you like, ask us a question, or give us a shout at hi@askaway.io.</p>
</div>