<div class="center hero-unit">
  <h1 class="askaway-logo-home-big pure-hidden-phone">AskAway</h1>
  <h1 class="askaway-logo-home-small pure-hidden-desktop">AskAway</h1>
  <p class="slogan-big pure-hidden-phone">Candid conversations with the world's most interesting people</p>
  <p class="slogan-small pure-hidden-desktop">Candid conversations with the world's most interesting people</p>
</div>
<div class = "home-content">
	<h2 class="trending-convos center">Trending Conversations</h2>
	<ol class="conversations">
		<%= render @conversations %>
	</ol>
	<%= will_paginate @conversations %>
</div>