<div class="center hero-unit">
  <%= image_tag("askaway_logo.png", alt: "askaway")%>

  <h2>
    This that homepage, yo.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

