<div class="center hero-unit">
  <h1 class="askaway-logo-home">AskAway</h1>
  <p class="slogan">Candid conversations with the world's most interesting people</p>
</div>
<div class = "home-content">
	<h2 class="trending-convos center">Trending Conversations</h2>
	<ol class="conversations">
		<%= render @conversations %>
	</ol>
	<%= will_paginate @conversations %>
</div>