<div class="center hero-unit">
  <%= image_tag("askaway_logo.png", alt: "askaway")%>

  <h2>
    This that homepage, yo.
  </h2>

	<% if current_user %>
		<%= link_to "Create a conversation!", create_path, class: "btn btn-large btn-primary" %>
		<%= link_to "Sign Out, buddy", signout_path %>
	<% else %>
		<%= link_to image_tag("sign-in-with-twitter-gray.png", alt: "Sign In"), "/auth/twitter" %>
	<% end %>
</div>

