
<%= bootstrap_form_for @answer do |f| %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Answer this question...", class:"pure-input-1", hide_label: true %>
		<%= f.hidden_field :question_id, :value => @question.id %>
		<br>
		<%= f.submit "Answer", class: "btn btn-large btn-success ask-button" %>
	</div>
<% end %>
