<div class = "response-area">
	<div class = "q-and-a-content">
		<%= response.linked_content.html_safe %>
	</div>
	<div class="q-a-metadata">
		<span class="timestamp"> answered <%= time_ago_in_words(response.created_at) %> ago. </span>
	</div>
</div>