$nice-grey: #494949;

@mixin breakpoint($point) {
    @if $point == tablet {
        @media (min-width: 480px)  { @content; }
    }
    @else if $point == inbetween {
        @media (min-width: 768px) { @content; }
    }
    @else if $point == desktop {
        @media (min-width: 1024px) { @content; }
    }
}

.modal-backdrop {
  z-index: -1;
}

.about-content {
	margin: 4em auto 2em;
	padding: 0 2em;
	max-width: 600px;
	position:relative;
	color:$nice-grey;
	font-family: Georgia, Serif;
	@include breakpoint(inbetween) {
		padding: 0 0;
	}
}

.delete-account-link {
	float:right;
}

.cancel-edits-link {
	display:inline;
	position:relative;
	left:1em;
}

.settings-update-area {
	padding:0 0 0 0;
	font-family: 'Open Sans', sans-serif;
	max-width:35em;
	@include breakpoint(inbetween) {
		margin-top:6em;
	}
}

.save-user {
	font-family: 'Open Sans', sans-serif;
}

.about-content h1 {
	line-height:1.4;
	font-style:italic;
}

.about-logo {
	width:180px;
	margin:4em 0 4em;
}

.settings-content {
	margin: 4.1em auto 2em;
	padding: 0 1em;
	max-width: 800px;
	font-family: Georgia, Serif;
	color:$nice-grey;
	@include breakpoint(inbetween) {
		margin-top:3em;
	}
}

.settings-content h2 {
	font-weight:700;
}


/* menu and header stuff *////////////////////////////////////////////

.big-screen-nav {
	display:none;
	@include breakpoint(desktop) {
		display:block;
		float:right;
		position:relative;
		font-size:1.1em;
		top:2.6em;
		margin: 0em 0em 0 0;
		list-style: none;
		z-index:1;
		li {
			float:right;
			margin:0 1.5em 0 0;
			text-shadow: 0px 1px 1px #000;
			a, a:hover {
				color:white;
			}
		}
	}
}

.small-screen-header {
	display:block;
	font-family: 'oleo script';
	text-align:center;
	background-color:rgb(26,26,29);
	color:white;
	height:3.4em;
	@include breakpoint(desktop) {
		display:none;
	}
}


/* home page *///////////////////////////////////////////////////

.header_img_home {
	display:none;
	@include breakpoint(inbetween) {
		display:block;
		height:auto;
		width: 100%;
		z-index: -1;
	}
}

.user-dropdown-home {
	position: absolute;
	right: 2em;
	top:2em;
	z-index:1;
}

.home-screen-logo-small {
	width:260px;
	margin:6em 0 .2em;
	@include breakpoint(inbetween) {
		display:none;
	}
}

.home-sign-in-link {
	color:white;
}

.home-sign-in-link:hover {
	color:white;
}

.home-screen-logo-big {
	display:none;
	@include breakpoint(inbetween) {
		display:block;
		width:320px;
		margin:11em auto .3em;
	}
	@include breakpoint(desktop) {
		margin-top:8em;
	}
}

.slogan {
	font-family: 'Open Sans', sans-serif;
	font-size:.9em;
	line-height:1.3em;
	padding:0 1em 0;
	margin: 0 0 4.5em 0;
	color:$nice-grey;
	display:block;
	@include breakpoint(inbetween) {
		color:white;
		font-size:1.1em;
	}
}

.homepage-question-description {
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
	line-height:1.3em;
	margin: 0 0 1.4em .2em;
	color:$nice-grey;
	display:block;
	@include breakpoint(tablet) {
		margin-left:1.9em;
	}
	@include breakpoint(inbetween) {
		margin-left:2.7em;
	}
}

.homepage-question-name-link {
	color:$nice-grey;
}

.homepage-question-name-link:hover {
	color:$nice-grey;
}

.trending-questions {
	font-family: 'Open Sans', sans-serif;
	font-size:1.5em;
	color:$nice-grey;
	display:block;
	margin-bottom:0em;
	@include breakpoint(tablet) {
		font-size:1.6em;
	}
	@include breakpoint(inbetween) {
		font-size:2em;
		margin-top:4em;
	}
	@include breakpoint(desktop) {
		margin-top:6em;
	}
}

.questions-on-homepage {
  list-style: none;
  font-family: Georgia, Serif;
  padding: 0 1em;
  text-align:left;
  li {
	  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	  padding:1.5em 0 1.5em;
	  @include breakpoint(inbetween) {
		  padding:2em 0 2em;
	  }
  }
}

.home-vote {
	position:relative;
	right:1.5em;
	@include breakpoint(tablet) {
		right:0em;
	}
	@include breakpoint(inbetween) {
		left:.8em;
	}
}

.question-list-link:hover {
	text-decoration:none;
}

.home-content {
	margin: 0 auto 2em;
	padding: 0 .5em;
	max-width: 650px;
	font-family: Georgia, Serif;
	color:$nice-grey;
	@include breakpoint(inbetween) {
		position:relative;
		bottom:22em;
	}
}

.conversation-list-name {
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:orange;
}

.home-questions {
	color:$nice-grey;
}

.conversation-list-link:hover {
	text-decoration:none;
}

.conversations {
  list-style: none;
  font-family: Georgia, Serif;
  padding: 0 0 0 0px;
  text-align:left;
  li {
	  border-top: 1px solid rgba(0, 0, 0, 0.2);
	  @include breakpoint(inbetween) {
		  padding: .3em 0;
	  }
  }
  li:hover {
	  opacity:.8;
  }
}

.name-and-prompt-area {
	padding: 0 7px;
}

.conversation-avatar {
	position:relative;
	top:1.5em;
	width:4em;
	@include breakpoint(tablet) {
		width:5em;
	}
}

.conversation-statz-home-content {
	font-weight:400;
}

/* pure layout stuff */////////////////////////////////////////////////////////////

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.center {
	text-align:center;
}

#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

#layout {
    position: relative;
    padding-left: 0;
	font-family: 'Open Sans', sans-serif;
}
    #layout.active {
        position: relative;
        left: 160px;
    }
        #layout.active #menu {
            left: 160px;
            width: 160px;
        }

        #layout.active .menu-link {
            left: 160px;
        }
		

		#menu {
		    margin-left: -160px; /* "#menu" width */
		    width: 160px;
		    position: fixed;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    z-index: 1000; /* so the menu or its navicon stays above all content */
		    background: #191818;
		    overflow-y: auto;
		    -webkit-overflow-scrolling: touch;
		}
		    /*
		    All anchors inside the menu should be styled like this.
		    */
		    #menu a {
		        color: #999;
		        border: none;
		        padding: 0.6em 0 0.6em 0.6em;
		    }

		    /*
		    Remove all background/borders, since we are applying them to #menu.
		    */
		     #menu .pure-menu,
		     #menu .pure-menu ul {
		        border: none;
		        background: transparent;
		    }

		    /*
		    Add that light border to separate items into groups.
		    */
		    #menu .pure-menu ul,
		    #menu .pure-menu .menu-item-divided {
		        border-top: 1px solid #333;
		    }
		        /*
		        Change color of the anchor links on hover/focus.
		        */
		        #menu .pure-menu li a:hover,
		        #menu .pure-menu li a:focus {
		            background: #333;
		        }

		    /*
		    This styles the selected menu item `<li>`.
		    */
		    #menu .pure-menu-selected,
		    #menu .pure-menu-heading {
		        background: #1f8dd6;
		    }
		        /*
		        This styles a link within a selected menu item `<li>`.
		        */
		        #menu .pure-menu-selected a {
		            color: #fff;
		        }

		    /*
		    This styles the menu heading.
		    */
		    #menu .pure-menu-heading {
		        font-size: 130%;
		        color: #fff;
		        margin: 0;
				text-transform:none;
				border-bottom:none;
		    }

		/*
		`.menu-link` represents the responsive menu toggle that shows/hides on
		small screens.
		*/
		
		.menu-link {
		    position: fixed;
		    display: block; /* show this only on small screens */
		    top: 0;
		    left: 0; /* "#menu width" */
		    background: white;
		    font-size: 10px; /* change this value to increase/decrease button size */
		    z-index: 10;
		    width: 6em;
		    height: 5.5em;
		    padding: 2.9em 1.9em 0 2em;
			@include breakpoint(inbetween) {
				display:none;
			}
		}

		    .menu-link:hover,
		    .menu-link:focus {
		        border:1px solid $nice-grey;
		    }

		    .menu-link span {
		        position: relative;
		        display: block;
		    }

		    .menu-link span,
		    .menu-link span:before,
		    .menu-link span:after {
		        background-color: $nice-grey;
		        width: 100%;
		        height: 0.2em;
		    }

		        .menu-link span:before,
		        .menu-link span:after {
		            position: absolute;
		            margin-top: -0.6em;
		            content: " ";
		        }

		        .menu-link span:after {
		            margin-top: 0.6em;
		        }
		

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.menu-logo {
	width:100px;
	position:relative;
	right:10px;
}

/* questions */////////////////////////////////////////////////////////////

.questions {
	list-style: none;
	font-family: Georgia, Serif;
	padding: 0 0 0 0;
	margin:0 .5em;
	li {
		padding: .7em .7em 0;
		border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
		border-width: 1px;
		border-style: solid;
		box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
		margin:0 0 1.4em 0;
		background:white;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding-bottom:.7em;
		@include breakpoint(inbetween) {
			padding: 1em 1em;
			margin:0 0 2em 0;
		}
	}
	@include breakpoint(desktop) {
		margin:0 0 0 0;
	}
}

.question-list-link:hover {
	text-decoration:none;
}

.question-list-link {
	text-decoration:none;
	@include breakpoint(inbetween) {
		pointer-events: none;
		cursor: default;
	}
}

.timestamp {
  color: gray;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* conversation create page *///////////////////////////////////////////////////

.create-page-content {
	margin: 0 auto 2em;
	padding: 0 .5em;
	max-width: 800px;
	font-family: Georgia, Serif;
	position:relative;
	bottom:16em;
}

.prompt-form-area {
	padding-top:2em;
	font-family: 'Open Sans', sans-serif;
	font-size:1.2em;
	resize:none;
}

.go-live-button {
	font-family: 'Open Sans', sans-serif;
}

.countdown {
	float:right;
	font-family: 'Open Sans', sans-serif;
}

.convo-form label {
	font-size:3em;
	color:$nice-grey;
}

/* conversation show page *///////////////////////////////////////////////////

.content {
	margin: 13em auto 2em;
	padding: 0 .5em;
	max-width: 800px;
	font-family: Georgia, Serif;
	position:relative;
	bottom:17em;
	color:$nice-grey;
	@include breakpoint(tablet) {
		margin-top:10.5em;
	}
	@include breakpoint(inbetween) {
		margin-top:9em;
	}
	@include breakpoint(desktop) {
		margin-top:7em;
	}
}

.header_img {
	width: 100%;
	z-index: -1;
	-webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
	-webkit-filter: brightness(80%);
}

.sticky-login-prompt {
	display:none;
	@include breakpoint(desktop) {
		position: absolute;
		right: 2em;
		display:block;
		top:1em;
		z-index:1;
		background-color:rgba(0,0,0,0.25);
		color:white;
		font-family: 'Open Sans', sans-serif;
		padding:0 1em 1.3em;
		border-radius:3px;
	}
}

.home-link {
	color:white;
}

.home-link:hover {
	color:white;
	text-decoration:none;
}

.askaway-logo {
	display:none;
	@include breakpoint(inbetween) {
		display:block;
	}
}

.big-screen-logo {
	display:none;
	@include breakpoint(inbetween) {
		display:block;
		width:130px;
		margin: 0 1em 4.5em 0;
	}
}



.small-screen-logo {
	width:100px;
	position:relative;
	bottom:.9em;
	@include breakpoint(inbetween) {
		display:none;
	}
}



.full-name {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:1.2em;
	line-height:1.3em;
	font-weight:700;
	margin:1em auto;
	color:$nice-grey;
	@include breakpoint(tablet) {
		display:none;
	}
}

.full-name-tabletplus {
	display:none;
	@include breakpoint(tablet) {
		display:block;
		text-align:center;
		color:white;
		text-shadow: 0px 1px 1px #000;
		font-family: 'Open Sans', sans-serif;
		font-size:1.5em;
		line-height:1.3em;
		font-weight:700;
		margin-bottom:.4em;
	}
	@include breakpoint(inbetween) {
		font-size:1.7em;
		
	}
	@include breakpoint(desktop) {
		font-size:1.9em;
	}
}

.conversation-username-link {
	color:$nice-grey;
	text-decoration:none;
}

.conversation-username-link:hover {
	color:$nice-grey;
}

.conversation-username-link-tabletplus {
	color:white;
	text-decoration:none;
}

.conversation-username-link-tabletplus:hover {
	color:white;
}

.prompt {
	line-height:1.5em;
	word-wrap:break-word;
	font-size:1.1em;
	margin:.5em auto .9em;
	@include breakpoint(tablet) {
		font-size:1.4em;
		margin:.7em auto .9em;
	}
	@include breakpoint(inbetween) {
		font-size:1.5em;
	}
	@include breakpoint(desktop) {
		font-size:1.7em;
	}
}

.no-questions-prompt-so-ask {
	font-family: 'Open Sans', sans-serif;
	padding:0 1em;
	margin:3em auto 1.5em;
	line-height:1.4em;
	width:16em;
	@include breakpoint(inbetween) {
		width:18em;
	}
}

.no-questions-prompt {
	font-family: 'Open Sans', sans-serif;
	margin:1.3em 0 0;
	line-height:1.4em;
	position:relative;
	bottom:2em;
}

.small-screen-login-prompt {
	display:block;
	padding:0 0 1em 0;
	@include breakpoint(desktop) {
		display:none;
	}
}

.convo-url {
	font-family: 'Open Sans', sans-serif;
	font-size:1.2em;
	margin-top:.7em;
	color:#336600;
	line-height:1.4em;
	word-wrap:break-word;
	text-align:left;
}

.sticky-share-prompt {
	background-color: #F4F39E;
	border-color: #DEE184;
	text-align: center;
	margin: 5em auto;
	padding: 1.5em 1em 0;
	display:block;
	width:19em;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	font-family: 'Open Sans', sans-serif;
	@include breakpoint(inbetween) {
		margin-top:.2em;
	}
}

.taped {
	display: block;
	content: "";
	position:relative;
	bottom:3em;
	width: 110px;
	height: 30px;
	left: 25%;
	border: 1px solid #fff;
	background: rgba(254, 254, 254, .6);
	-webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
	box-shadow: 0px 0 3px rgba(0,0,0,0.1);
	-ms-transform:rotate(-3deg); /* IE 9 */
	-webkit-transform:rotate(-3deg); /* Chrome, Safari, Opera */
	transform:rotate(-3deg); /* Standard syntax */
}

.q-a-metadata {
	display:inline-block;
	font-size: .7em;
	position:relative;
	bottom:5px;
	font-family: 'Open Sans', sans-serif;
	color: gray;
}

.subtle-metadata {
	color: gray;
}

.subtle-metadata:hover {
	color: gray;
}

.q-and-a-content {
	font-size:1.1em;
	line-height:1.5em;
	padding-bottom: .1em;
	font-family: Georgia, Serif;
	@include breakpoint(tablet) {
		font-size:1.4em;
	}
}

.answer-area {
	border-left:.3em solid green;
	padding:.1em 1em;
	background-color: rgba(0, 182, 0, 0.06);
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.q-a-column {
	padding-left:1em;
}

.convo-delete-link {
	margin-top:3em;
	font-family: 'Open Sans', sans-serif;
	font-size:.8em;
}



/* question show page *///////////////////////////////////////////////////



.asker-and-askee {
	width:65%;
	margin:0 auto;
}

.subtle-link {
	color:$nice-grey;
}

.subtle-link:hover {
	color:$nice-grey;
}

.question-description {
	font-family: 'Open Sans', sans-serif;
	line-height:1.4em;
	font-size:1em;
	margin:4em 0 2em;
	@include breakpoint(tablet) {
		margin-bottom:3em;
	}
	@include breakpoint(inbetween) {
		margin-bottom:4em;
	}
}

.question-page-convo-link, .question-page-convo-link:hover {
	text-decoration:underline;
	color:inherit;
	@include breakpoint(inbetween) {
		color:white;
	}
}

.number-of-questions {
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}

.login-prompt {
	font-family: 'Open Sans', sans-serif;
}



.question-input {
	resize:none;
	font-size:1.3em
}

.answer-button {
	margin-bottom:1em;
	font-family: 'Open Sans', sans-serif;
}

#response-composer {
	font-size:1em;
	height:100px;
}

.q-link {
	font-family: 'Open Sans', sans-serif;
	font-size:1.3em;
	margin-top:.7em;
	color:#336600;
	line-height:1.4em;
	word-wrap:break-word;
	position:relative;
	bottom:2em;
}

.question-delete-link {
	margin-top:2em;
	font-size:1em;
	font-family: 'Open Sans', sans-serif;
}

.answer-delete-link {
	position:relative;
	bottom:1.6em;
	font-size:.8em;
	float:right;
	right:.4em;
	font-family: 'Open Sans', sans-serif;
}


/* Profile Page *///////////////////////////////////////////

.content-prof {
	margin: 4.1em auto 2em;
	padding: 0 1em;
	max-width: 800px;
	font-family: Georgia, Serif;
	color:$nice-grey;
	@include breakpoint(inbetween) {
		margin-top:4em;
	}
}

.sticky-ask-button-area {
	position: absolute;
	display:block;
	right: -.4em;
	top:-3.2em;
	z-index:1;
	@include breakpoint(inbetween) {
		display:none;
	}
}

.profile-url-for-sharing {
	width:200px;
	max-height:80px;
	margin:0 auto;
	font-size:1em;
}

.filter-links {
	font-size:.8em;
	font-family: 'Open Sans', sans-serif;
	position:relative;
	left:.9em;
	@include breakpoint(tablet) {
		font-size:.9em;
	}
	@include breakpoint(inbetween) {
		left:1em;
	}
}

.filter-link {
	color:$nice-grey;
}

.filter-link:hover {
	color:$nice-grey;
}

.big-screen-ask-area {
	position:relative;
	right:1em;
}

.relative-container {
	position:relative;
}

.sticky-dropdown-area {
	display:none;
	@include breakpoint(inbetween) {
		display:block;
		font-family: 'Open Sans', sans-serif;
	}
}

.user-dropdown {
	position: absolute;
	right: -.4em;
	top:.1em;
	z-index:1;
}

.dropdown-label {
	font-family: 'Open Sans', sans-serif;
	border:none;
	color:$nice-grey;
	font-size:.9em;
	border:1px solid transparent;
}

.dropdown-label:hover {
	border:1px solid $nice-grey;
	background:white;
}

.dropdown-menu {
	font-size:.9em;
	min-width: 0px !important;
}

.empty-profile-ask-button {
	font-family: 'Open Sans', sans-serif;
}


.outer-ask-button {
	font-family: Georgia, Serif;
	font-size:1.3em;
	font-style:italic;
	background:none;
	color:$nice-grey;
}

.outer-ask-button:hover {
	border:1px solid $nice-grey;
}

.outer-ask-button:active {
	position:relative;
	top:1px;
}

.inner-ask-button {
	font-family: 'Open Sans', sans-serif;
}


.vote-button:hover {
	border:1px solid #999999;
}

.vote-button:active {
	position:relative;
	top:1px;
}

.ask-modal-close-button {
	font-family: 'Open Sans', sans-serif;
}

.prof-pic {
	display:block;
	margin:auto;
	width:100%;
	border-radius: 4px;
	@include breakpoint(tablet) {
		margin-top:2em;
	}
	@include breakpoint(inbetween) {
		margin-top:4em;
	}
}

.image-and-description {
	max-width:22em;
	display:block;
	margin:auto;
	@include breakpoint(tablet) {
		max-width:18em;
	}
}

.name-and-handle {
	margin-bottom:0em;
}

.user-description {
	font-style:italic;
	line-height:1.4;
	font-size:1em;
	margin:1em 0 2.4em;
	color:$nice-grey;
	@include breakpoint(inbetween) {
		line-height:1.5;
	}
}

.full-name-prof {
	font-weight:bold;
}

.q-for-name {
	font-family: 'Open Sans', sans-serif;
	font-size:1.2em;
	position:relative;
	left:.5em;
	@include breakpoint(inbetween) {
		font-size:1.5em;
		margin-bottom:1.3em;
		margin-top:.2em;
	}
}

.questions-on-prof {
	list-style: none;
	padding: 0 0 0 0;
	li {
		padding: 0em 0em 1.5em;
		margin:0 0 1.2em 0;
		border-bottom:.1em solid #CCCCCC;
		@include breakpoint(inbetween) {
			margin:0 0 2em 0;
		}
	}
	@include breakpoint(desktop) {
		margin:0 0 0 0;
	}
}

.profile-questions-area {
	padding:0 0 0 0;
	@include breakpoint(inbetween) {
		margin-top:6.5em;
	}
}

.fixed-image-and-description {
	display:none;
	@include breakpoint(inbetween) {
		display:block;
		position:fixed;
		width:17em;
		top:3em;
	}
}

.small-image-and-description {
	max-width:20em;
	margin:auto;
	@include breakpoint(inbetween) {
		display:none;
	}
}

.query-area {
	padding:0 0 0 0;
}

.vote-column {
	padding:0 0 0 0;
}

.content-column {
	padding:0 0 0 0;
}

.response-area {
	color:green;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-top:.4em;
}

.question-description-profile-page {
	font-family: 'Open Sans', sans-serif;
	font-size:.8em;
	margin-top:0;
}

.num-answers {
	color:green;
}

.pressed {
	opacity:.5;
}

.popover {
	width:180px;
}

.vote-button {
	width:3em;
	padding: 0em 0 .1em;
	font-family: 'Open Sans', sans-serif;
	float:left;
	margin:0 0 0 0;
	background:white;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	text-indent:0;
	display:inline-block;
	position:relative;
	bottom:.1em;
	@include breakpoint(inbetween) {
		bottom:.2em;
	}
	@include breakpoint(desktop) {
		margin-right:.8em;
		
	}
}

.votecount {
	font-size:1.3em;
	color:$nice-grey;
}

.vote-button:hover {
	border:1px solid #999999;
}

.vote-button:active {
	position:relative;
	top:1px;
}

.up-arrow {
	position:relative;
	right:2px;
}

/* Query Page *///////////////////////////////////////////

.page-content {
	margin: 2.2em auto 2em;
	padding: 0 1em;
	max-width: 800px;
	font-family: Georgia, Serif;
	color:$nice-grey;
	@include breakpoint(inbetween) {
		margin-top:3em;
	}
}

.q-for-name-query-page {
	font-family: 'Open Sans', sans-serif;
	font-size:1.2em;
	position:relative;
	left:.6em;
	margin:3em 0 1.4em;
	@include breakpoint(tablet) {
		font-size:1.5em;
		margin:4em 0 2em;
	}
	@include breakpoint(inbetween) {
		margin:2em 0 2em;
	}
}

.query-page-content {
	margin:0 auto;
	max-width:40em;
}

.prof-pic-q-page {
	display:block;
	width:100%;
	border-radius: 4px;
}

.q-page-image-area {
	padding:0 0 0 0;
	margin-top:1em;
	max-width:32em;
	@include breakpoint(inbetween) {
		margin-top:3em;
	}
}

.query-area-query-page {
	padding:0 0 0 0;
	max-width:48em;
}

.first-pic {
	padding:0 7px 0 0;
}

.second-pic {
	padding:0 0 0 7px;
}

.query-url-for-sharing {
	width:200px;
	min-height:80px;
	margin:0 auto;
	font-size:1em;
}

.share-q-prompt {
	font-family: 'Open Sans', sans-serif;
	padding:0 1em;
	margin:1.3em 0 0;
	line-height:1.4em;
	position:relative;
	bottom:2em;
}

.sticky-share-prompt-q {
  background-color: #F4F39E;
  border-color: #DEE184;
  text-align: center;
  margin: 4em auto;
  padding: 1.5em 1em 2em;
  display:block;
  width:19em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  font-family: 'Open Sans', sans-serif;
  @include breakpoint(inbetween) {
	  margin: 6em auto;
  }
}

.big-screen-logo-area {
	display:block;
	width:150px;
}

/* confirm page shit *///////////////////////////////////////////


.confirm-screen-logo {
	display:block;
	width:150px;
	margin:2em auto;
	@include breakpoint(inbetween) {
		width:200px;
		margin:5em auto 5em;
	}
}

.login-progress {
	display:block;
	width:200px;
	margin:2em auto;
	@include breakpoint(inbetween) {
		width:200px;
	}
}

.confirm-form-area {
	display:block;
	width:250px;
	margin:2em auto;
}

.finish-btn {
	font-family: 'Open Sans', sans-serif;
}

.almost-done {
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}

.enter-email {
	font-family: 'Open Sans', sans-serif;
	position:relative;
	top:1em;
}

/* custom pagination shite *///////////////////////////////////////////

.pagination {
  height: 36px;
  margin: 18px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}
.pagination .active a {
  color: #999999;
  cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-centered {
  text-align: center;
}
  